<!DOCTYPE html>

<title>New Participation</title>

{% block body %}
    <h1>Create new Participation</h1>

    {{ include('participation/_form.html.twig') }}

    <a href="{{ path('participation_index') }}">back to list</a>
{% endblock %}
