<form method="post" action="{{ path('app_titres_delete', {'id': titre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ titre.id) }}">
    <button class="btn">Delete</button>
</form>
